# Pandas Fundamentals
~~delete this line~~
## Part1: The Series Object - columns

### Construct a Series Object from an Array

In [1]:
import pandas as pd
series = pd.Series([0,1,2,3,4])
series

0    0
1    1
2    2
3    3
4    4
dtype: int64

You can just think series as 1D array. If you don't specify the index, it will be numbers from 0.

In [2]:
print("Values: ", series.values)
print("Indices: ", series.index)
print(series[1]) # Get a single value
print(series[1:4]) # Get a range of values

Values:  [0 1 2 3 4]
Indices:  RangeIndex(start=0, stop=5, step=1)
1
1    1
2    2
3    3
dtype: int64

But the index doesn't have to be a number! It can be anything!

In [42]:
series2 = pd.Series([12,24,34,45],
                    index = ['a','b','c','d'])
series2

a    12
b    24
c    34
d    45
dtype: int64

In [4]:
print(series2['c']) # Get a single value
print(series2['b':'d']) # Get a rangle of values, 'd' is included!!!

34
b    24
c    34
d    45
dtype: int64

### Construct a Series Object from a Dictionary

In [43]:
import pandas as pd
d = {'a':12,
     'b':23,
     'c':34,
     'd':45}
series3 = pd.Series(d)
series3

a    12
b    23
c    34
d    45
dtype: int64

In [44]:
print(series3['c'])
print(series3['a':'c'])

34
a    12
b    23
c    34
dtype: int64

## Part2: The DataFrame Object - columns + rows

### Construct a DataFrame Object from a single of Series

In [7]:
import pandas as pd
s1 = pd.Series([12,23,34,45],
               index=['a','b','c','d'])
df1 = pd.DataFrame(s1, columns=['quantity']) # columns is optinal
df1

   quantity
a        12
b        23
c        34
d        45

### Construct a DataFrame Object from Dictionary

In [8]:
d = {"country":["China","USA","Canada"],
     "capital":["Bejing","Washington DC","Ottawa"],
     "population":[1.3,0.5,0.1]}
df2 = pd.DataFrame(d)
df2

  country        capital  population
0   China         Bejing         1.3
1     USA  Washington DC         0.5
2  Canada         Ottawa         0.1

### Construct a DataFrame Object from a Dictionary of Series Objects

In [46]:
s1 = pd.Series([12,23,34,45],
               index=['a','b','c','d'])
s2 = pd.Series([1.2,0.5,2.5,3.6],
               index=['a','b','c','d'])
df3 = pd.DataFrame({'quantity' : s1 ,
                    'price' : s2})
df3

   quantity  price
a        12    1.2
b        23    0.5
c        34    2.5
d        45    3.6

### Construct a DataFrame Object by importing Data from file

In [47]:
import pandas as pd
df = pd.read_csv('sample_data/california_housing_test.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [48]:
df = pd.read_json('sample_data/anscombe.json')
df.head()

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

## Part3: Data Wrangling 
Read, View and Extract info

### Read the data

In [49]:
import pandas as pd
imdb_df = pd.read_csv('sample_data/imdb_top_1000.csv')
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [52]:
imdb_df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

If we don't specify the index, the index of the dataFrame will be default (starts from 0). But we can specify the index as following:

In [53]:
imdb_df_indexed = pd.read_csv('sample_data/imdb_top_1000.csv', index_col='Series_Title')
# or you can do like this:
# imdb_df_indexed = imdb_df.set_index('Series_Title')

### View the data

In [54]:
imdb_df_indexed.head()

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

What if I want to see the last 3?

In [55]:
imdb_df_indexed.tail(3)

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
From Here to Eternity,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
Lifeboat,https://m.media-amazon.com/images/M/MV5BZTBmMj...,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [56]:
imdb_df_indexed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, The Shawshank Redemption to The 39 Steps
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     843 non-null    float64
 8   Director       1000 non-null   object
 9   Star1          1000 non-null   object
 10  Star2          1000 non-null   object
 11  Star3          1000 non-null   object
 12  Star4          1000 non-null   object
 13  No_of_Votes    1000 non-null   int64
 14  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 125.0+ KB

In [57]:
imdb_df_indexed.shape

(1000, 15)

In [58]:
imdb_df_indexed.describe() # a quick analysis of integer/double variables

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

### Extract the data

Working with Columns

In [20]:
# Extract the 'Genre' column
# genre_col = imdb_df_indexed.Genre
# or
genre_col_series = imdb_df_indexed['Genre'] # it returns a Series Object
genre_col_series.head()

Series_Title
The Shawshank Redemption                   Drama
The Godfather                       Crime, Drama
The Dark Knight             Action, Crime, Drama
The Godfather: Part II              Crime, Drama
12 Angry Men                        Crime, Drama
Name: Genre, dtype: object

In [59]:
print(type(genre_col_series))

<class 'pandas.core.series.Series'>

What if I want a DataFrame instead of a Series Object?

In [22]:
genre_col_df = imdb_df_indexed[['Genre']] # it returns a DataFrame Object
print(type(genre_col_df))
genre_col_df.head()

<class 'pandas.core.frame.DataFrame'>

                                         Genre
Series_Title
The Shawshank Redemption                 Drama
The Godfather                     Crime, Drama
The Dark Knight           Action, Crime, Drama
The Godfather: Part II            Crime, Drama
12 Angry Men                      Crime, Drama

  What if I want to extract mutiple columns?

In [23]:
extracted_cols_df = imdb_df_indexed[['Genre', 'IMDB_Rating', 'Director']]
extracted_cols_df.head()

,Genre,IMDB_Rating,Director
Series_Title,,,
The Shawshank Redemption,Drama,9.3,Frank Darabont
The Godfather,"Crime, Drama",9.2,Francis Ford Coppola
The Dark Knight,"Action, Crime, Drama",9.0,Christopher Nolan
The Godfather: Part II,"Crime, Drama",9.0,Francis Ford Coppola
12 Angry Men,"Crime, Drama",9.0,Sidney Lumet

Working with rows

In [24]:
gf = imdb_df_indexed.loc['The Godfather'] # locate by name
gf

Poster_Link      https://m.media-amazon.com/images/M/MV5BM2MyNj...
Released_Year                                                 1972
Certificate                                                      A
Runtime                                                    175 min
Genre                                                 Crime, Drama
IMDB_Rating                                                    9.2
Overview         An organized crime dynasty's aging patriarch t...
Meta_score                                                   100.0
Director                                      Francis Ford Coppola
Star1                                                Marlon Brando
Star2                                                    Al Pacino
Star3                                                   James Caan
Star4                                                 Diane Keaton
No_of_Votes                                                1620367
Gross                                                  134,966,411
Name: The Godfather, dtype: object

In [25]:
men12 = imdb_df_indexed.iloc[4] # locate by numerical index
men12

Poster_Link      https://m.media-amazon.com/images/M/MV5BMWU4N2...
Released_Year                                                 1957
Certificate                                                      U
Runtime                                                     96 min
Genre                                                 Crime, Drama
IMDB_Rating                                                    9.0
Overview         A jury holdout attempts to prevent a miscarria...
Meta_score                                                    96.0
Director                                              Sidney Lumet
Star1                                                  Henry Fonda
Star2                                                  Lee J. Cobb
Star3                                                Martin Balsam
Star4                                                 John Fiedler
No_of_Votes                                                 689845
Gross                                                    4,360,000
Name: 12 Angry Men, dtype: object

In [26]:
imdb_df_indexed.head(10)

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
The Lord of the Rings: The Return of the King,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
Pulp Fiction,https://m.media-amazon.com/images/M/MV5BNGNhMD...,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
Schindler's List,https://m.media-amazon.com/images/M/MV5BNDE4OT...,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
Inception,https://m.media-amazon.com/images/M/MV5BMjAxMz...,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
Fight Club,https://m.media-amazon.com/images/M/MV5BMmEzNT...,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"

In [60]:
rows = imdb_df_indexed.loc['12 Angry Men':'Fight Club'] # '12 Angry Men' and 'Fight Club' are included
rows

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
The Lord of the Rings: The Return of the King,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
Pulp Fiction,https://m.media-amazon.com/images/M/MV5BNGNhMD...,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
Schindler's List,https://m.media-amazon.com/images/M/MV5BNDE4OT...,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
Inception,https://m.media-amazon.com/images/M/MV5BMjAxMz...,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
Fight Club,https://m.media-amazon.com/images/M/MV5BMmEzNT...,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"

In [28]:
other_rows = imdb_df_indexed.iloc[0:4] # the row with the index of 4 is not included
other_rows

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"

# Homework

Question 1 (10)

a) Please extract the rows between 'The Green Mile' and 'Se7en'.

b) Please extract the rows between row 25 to row 28 (row 28 is included).

In [29]:
# Question 1
# Part a)
rows_homework = imdb_df_indexed.loc["The Green Mile": "Se7en"]
rows_homework

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
The Green Mile,https://m.media-amazon.com/images/M/MV5BMTUxMz...,1999,A,189 min,"Crime, Drama, Fantasy",8.6,The lives of guards on Death Row are affected ...,61.0,Frank Darabont,Tom Hanks,Michael Clarke Duncan,David Morse,Bonnie Hunt,1147794,"136,801,374"
La vita bella,https://m.media-amazon.com/images/M/MV5BYmJmM2...,1997,U,116 min,"Comedy, Drama, Romance",8.6,When an open-minded Jewish librarian and his s...,59.0,Roberto Benigni,Roberto Benigni,Nicoletta Braschi,Giorgio Cantarini,Giustino Durano,623629,"57,598,247"
Se7en,https://m.media-amazon.com/images/M/MV5BOTUwOD...,1995,A,127 min,"Crime, Drama, Mystery",8.6,"Two detectives, a rookie and a veteran, hunt a...",65.0,David Fincher,Morgan Freeman,Brad Pitt,Kevin Spacey,Andrew Kevin Walker,1445096,"100,125,643"

In [30]:
# Part b)
other_rows_homework = imdb_df_indexed.iloc[25:29]
other_rows_homework

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
The Green Mile,https://m.media-amazon.com/images/M/MV5BMTUxMz...,1999,A,189 min,"Crime, Drama, Fantasy",8.6,The lives of guards on Death Row are affected ...,61.0,Frank Darabont,Tom Hanks,Michael Clarke Duncan,David Morse,Bonnie Hunt,1147794,"136,801,374"
La vita bella,https://m.media-amazon.com/images/M/MV5BYmJmM2...,1997,U,116 min,"Comedy, Drama, Romance",8.6,When an open-minded Jewish librarian and his s...,59.0,Roberto Benigni,Roberto Benigni,Nicoletta Braschi,Giorgio Cantarini,Giustino Durano,623629,"57,598,247"
Se7en,https://m.media-amazon.com/images/M/MV5BOTUwOD...,1995,A,127 min,"Crime, Drama, Mystery",8.6,"Two detectives, a rookie and a veteran, hunt a...",65.0,David Fincher,Morgan Freeman,Brad Pitt,Kevin Spacey,Andrew Kevin Walker,1445096,"100,125,643"
The Silence of the Lambs,https://m.media-amazon.com/images/M/MV5BNjNhZT...,1991,A,118 min,"Crime, Drama, Thriller",8.6,A young F.B.I. cadet must receive the help of ...,85.0,Jonathan Demme,Jodie Foster,Anthony Hopkins,Lawrence A. Bonney,Kasi Lemmons,1270197,"130,742,922"

*score: 10/10* 

Excellent!

Question 2 (10)

Which movie is the oldest? (The earliest Released_Year. If there's a tie, you can return several titles or anyone of them.)

In [31]:
# Question 2
released_year_col_df = imdb_df_indexed[["Released_Year"]]
oldest_movie_year = []
for year in released_year_col_df.Released_Year:
  oldest_movie_year.append(year)
oldest_movie = min(oldest_movie_year)
released_year_col_df[released_year_col_df["Released_Year"] == min(oldest_movie_year)]

                             Released_Year
Series_Title
Das Cabinet des Dr. Caligari          1920

*score: 10/10* 

Excellent! The last line you can just:

released_year_col_df[released_year_col_df["Released_Year"] == oldest_movie]

Is there an easier way to get the movie has the lowest IMDB_rating?

In [61]:
imdb_df_indexed.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [62]:
imdb_df_indexed[imdb_df_indexed["IMDB_Rating"] == 7.6]

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
Dark Waters,https://m.media-amazon.com/images/M/MV5BODQ0M2...,2019,PG-13,126 min,"Biography, Drama, History",7.6,A corporate defense attorney takes on an envir...,73.0,Todd Haynes,Mark Ruffalo,Anne Hathaway,Tim Robbins,Bill Pullman,60408,NaN
Searching,https://m.media-amazon.com/images/M/MV5BMjIwOT...,2018,U/A,102 min,"Drama, Mystery, Thriller",7.6,"After his teenage daughter goes missing, a des...",71.0,Aneesh Chaganty,John Cho,Debra Messing,Joseph Lee,Michelle La,140840,"26,020,957"
Once Upon a Time... in Hollywood,https://m.media-amazon.com/images/M/MV5BOTg4ZT...,2019,A,161 min,"Comedy, Drama",7.6,A faded television actor and his stunt double ...,83.0,Quentin Tarantino,Leonardo DiCaprio,Brad Pitt,Margot Robbie,Emile Hirsch,551309,"142,502,728"
Nelyubov,https://m.media-amazon.com/images/M/MV5BNzk2Nm...,2017,R,127 min,Drama,7.6,A couple going through a divorce must team up ...,86.0,Andrey Zvyagintsev,Maryana Spivak,Aleksey Rozin,Matvey Novikov,Marina Vasileva,29765,"566,356"
The Florida Project,https://m.media-amazon.com/images/M/MV5BMjg4Zm...,2017,A,111 min,Drama,7.6,"Set over one summer, the film follows precocio...",92.0,Sean Baker,Brooklynn Prince,Bria Vinaite,Willem Dafoe,Christopher Rivera,95181,"5,904,366"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Breakfast at Tiffany's,https://m.media-amazon.com/images/M/MV5BNGEwMT...,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
Giant,https://m.media-amazon.com/images/M/MV5BODk3Yj...,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
From Here to Eternity,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
Lifeboat,https://m.media-amazon.com/images/M/MV5BZTBmMj...,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

Question 3 (10)

Please filter our movie dataFrame to show only movies from 2016.

In [32]:
# Quetion 3
imdb_df_indexed[imdb_df_indexed["Released_Year"] >= 2016] 
# Doesn't work; perhaps because column "Released_Year" is not a float, therefore, will not be converted to be an integer in pandas

TypeError: ignored

*score: 9/10* 

This question is challenging. If you use .info(), you can see Released-Year is an Object. Then you can search "convert object to int + pandas" to find the answer.

In [63]:
imdb_df_indexed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, The Shawshank Redemption to The 39 Steps
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     843 non-null    float64
 8   Director       1000 non-null   object
 9   Star1          1000 non-null   object
 10  Star2          1000 non-null   object
 11  Star3          1000 non-null   object
 12  Star4          1000 non-null   object
 13  No_of_Votes    1000 non-null   int64
 14  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 157.3+ KB

In [65]:
type(imdb_df_indexed['Released_Year'][0])

str

In [66]:
imdb_df_indexed[imdb_df_indexed['Released_Year'].astype(int) == 2016]

ValueError: ignored

But when we can to apply this directly, there are errors. Clearly some value is 'PG'.

We need to find the PG value and replace it.

In [68]:
imdb_df_indexed[~imdb_df_indexed.Released_Year.str.isnumeric()]

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
Apollo 13,https://m.media-amazon.com/images/M/MV5BNjEzYj...,PG,U,140 min,"Adventure, Drama, History",7.6,NASA must devise a strategy to return Apollo 1...,77.0,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,"173,837,933"

In [69]:
imdb_df_indexed.loc['Apollo 13','Released_Year']='1995' # give it a value

In [70]:
imdb_df_indexed['Released_Year'].loc['Apollo 13']

'1995'

In [71]:
imdb_df_indexed[imdb_df_indexed["Released_Year"].astype(int)== 2016]

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
Kimi no na wa.,https://m.media-amazon.com/images/M/MV5BODRmZD...,2016,U,106 min,"Animation, Drama, Fantasy",8.4,Two strangers find themselves linked in a biza...,79.0,Makoto Shinkai,Rynosuke Kamiki,Mone Kamishiraishi,Ry Narita,Aoi Yki,194838,"5,017,246"
Dangal,https://m.media-amazon.com/images/M/MV5BMTQ4Mz...,2016,U,161 min,"Action, Biography, Drama",8.4,Former wrestler Mahavir Singh Phogat and his t...,NaN,Nitesh Tiwari,Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sanya Malhotra,156479,"12,391,761"
Pink,https://m.media-amazon.com/images/M/MV5BNGI1MT...,2016,UA,136 min,"Drama, Thriller",8.1,When three young women are implicated in a cri...,NaN,Aniruddha Roy Chowdhury,Taapsee Pannu,Amitabh Bachchan,Kirti Kulhari,Andrea Tariang,39216,"1,241,223"
Koe no katachi,https://m.media-amazon.com/images/M/MV5BZGRkOG...,2016,16,130 min,"Animation, Drama, Family",8.1,A young man is ostracized by his classmates af...,78.0,Naoko Yamada,Miyu Irino,Saori Hayami,Aoi Yki,Kensh Ono,47708,NaN
Contratiempo,https://m.media-amazon.com/images/M/MV5BMDk0Yz...,2016,TV-MA,106 min,"Crime, Drama, Mystery",8.1,A successful entrepreneur accused of murder an...,NaN,Oriol Paulo,Mario Casas,Ana Wagener,Jose Coronado,Brbara Lennie,141516,NaN
Ah-ga-ssi,https://m.media-amazon.com/images/M/MV5BNDJhYT...,2016,A,145 min,"Drama, Romance, Thriller",8.1,A woman is hired as a handmaiden to a Japanese...,84.0,Chan-wook Park,Kim Min-hee,Jung-woo Ha,Cho Jin-woong,Moon So-Ri,113649,"2,006,788"
Hacksaw Ridge,https://m.media-amazon.com/images/M/MV5BMjQ1Nj...,2016,A,139 min,"Biography, Drama, History",8.1,World War II American Army Medic Desmond T. Do...,71.0,Mel Gibson,Andrew Garfield,Sam Worthington,Luke Bracey,Teresa Palmer,435928,"67,209,615"
Airlift,https://m.media-amazon.com/images/M/MV5BMGE1ZT...,2016,UA,130 min,"Drama, History",8.0,"When Iraq invades Kuwait in August 1990, a cal...",NaN,Raja Menon,Akshay Kumar,Nimrat Kaur,Kumud Mishra,Prakash Belawadi,52897,NaN
La La Land,https://m.media-amazon.com/images/M/MV5BMzUzND...,2016,A,128 min,"Comedy, Drama, Music",8.0,"While navigating their careers in Los Angeles,...",94.0,Damien Chazelle,Ryan Gosling,Emma Stone,Rosemarie DeWitt,J.K. Simmons,505918,"151,101,803"
Lion,https://m.media-amazon.com/images/M/MV5BMjA3Nj...,2016,U,118 min,"Biography, Drama",8.0,A five-year-old Indian boy is adopted by an Au...,69.0,Garth Davis,Dev Patel,Nicole Kidman,Rooney Mara,Sunny Pawar,213970,"51,739,495"
Zootopia,https://m.media-amazon.com/images/M/MV5BOTMyMj...,2016,U,108 min,"Animation, Adventure, Comedy",8.0,"In a city of anthropomorphic animals, a rookie...",78.0,Byron Howard,Rich Moore,Jared Bush,Ginnifer Goodwin,Jason Bateman,434143,"341,268,248"
Deadpool,https://m.media-amazon.com/images/M/MV5BYzE5Mj...,2016,R,108 min,"Action, Adventure, Comedy",8.0,A wisecracking mercenary gets experimented on ...,65.0,Tim Miller,Ryan Reynolds,Morena Baccarin,T.J. Miller,Ed Skrein,902669,"363,070,709"
"I, Daniel Blake",https://m.media-amazon.com/images/M/MV5BMTQ4NT...,2016,UA,100 min,Drama,7.9,"After having suffered a heart-attack, a 59-yea...",78.0,Ken Loach,Laura Obiols,Dave Johns,Hayley Squires,Sharon Percy,53818,"258,168"
Hunt for the Wilderpeople,https://m.media-amazon.com/images/M/MV5BMjI1MD...,2016,UA,101 min,"Adventure, Comedy, Drama",7.9,A national manhunt is ordered for a rebellious...,81.0,Taika Waititi,Sam Neill,Julian Dennison,Rima Te Wiata,Rachel House,111483,"5,202,582"
Captain Fantastic,https://m.media-amazon.com/images/M/MV5BMjE5OT...,2016,R,118 min,"Comedy, Drama",7.9,"In the forests of the Pacific Northwest, a fat...",72.0,Matt Ross,Viggo Mortensen,George MacKay,Samantha Isler,Annalise Basso,189400,"5,875,006"
Sing Street,https://m.media-amazon.com/images/M/MV5BMjEzOD...,2016,PG-13,106 min,"Comedy, Drama, Music",7.9,A boy growing up in Dublin during the 1980s es...,79.0,John Carney,Ferdia Walsh-Peelo,Aidan Gillen,Maria Doyle Kennedy,Jack Reynor,85109,"3,237,118"
Arrival,https://m.media-amazon.com/images/M/MV5BMTExMz...,2016,UA,116 min,"Drama, Sci-Fi",7.9,A linguist works with the military to communic...,81.0,Denis Villeneuve,Amy Adams,Jeremy Renner,Forest Whitaker,Michael Stuhlbarg,594181,"100,546,139"
Forushande,https://m.media-amazon.com/images/M/MV5BMTBkMj...,2016,UA,124 min,Drama,7.8,"While both participating in a production of ""D...",85.0,Asghar Farhadi,Shahab Hosseini,Taraneh Alidoosti,Babak Karimi,Mina Sadati,51240,"2,402,067"
Perfetti sconosciuti,https://m.media-amazon.com/images/M/MV5BNDQzZm...,2016,NaN,96 min,"Comedy, Drama",7.8,Seven long-time friends get together for a din...,NaN,Paolo Genovese,Giuseppe Battiston,Anna Foglietta,Marco Giallini,Edoardo Leo,57168,NaN
Hidden Figures,https://m.media-amazon.com/images/M/MV5BMzg2Mz...,2016,UA,127 min,"Biography, Drama, History",7.8,The story of a team of female African-American...,74.0,Theodore Melfi,Taraji P. Henson,Octavia Spencer,Janelle Mone,Kevin Costner,200876,"169,607,287"
Udta Punjab,https://m.media-amazon.com/images/M/MV5BY2YxNj...,2016,A,148 min,"Action, Crime, Drama",7.8,A story that revolves around drug abuse in the...,NaN,Abhishek Chaubey,Shahid Kapoor,Alia Bhatt,Kareena Kapoor,Diljit Dosanjh,27175,NaN
Kubo and the Two Strings,https://m.media-amazon.com/images/M/MV5BMjA2Mz...,2016,PG,101 min,"Animation, Action, Adventure",7.8,A young boy named Kubo must locate a magical s...,84.0,Travis Knight,Charlize Theron,Art Parkinson,Matthew McConaughey,Ralph Fiennes,118035,"48,023,088"
M.S. Dhoni: The Untold Story,https://m.media-amazon.com/images/M/MV5BZjAzZj...,2016,U,184 min,"Biography, Drama, Sport",7.8,The untold story of Mahendra Singh Dhoni's jou...,NaN,Neeraj Pandey,Sushant Singh Rajput,Kiara Advani,Anupam Kher,Disha Patani,40416,"1,782,795"
Manchester by the Sea,https://m.media-amazon.com/images/M/MV5BMTYxMj...,2016,UA,137 min,Drama,7.8,A depressed uncle is asked to take care of his...,96.0,Kenneth Lonergan,Casey Affleck,Michelle Williams,Kyle Chandler,Lucas Hedges,246963,"47,695,120"
Rogue One,https://m.media-amazon.com/images/M/MV5BMjEwMz...,2016,UA,133 min,"Action, Adventure, Sci-Fi",7.8,The daughter of an Imperial scientist joins th...,65.0,Gareth Edwards,Felicity Jones,Diego Luna,Alan Tudyk,Donnie Yen,556608,"532,177,324"
Captain America: Civil War,https://m.media-amazon.com/images/M/MV5BMjQ0MT...,2016,UA,147 min,"Action, Adventure, Sci-Fi",7.8,Political involvement in the Avengers' affairs...,75.0,Anthony Russo,Joe Russo,Chris Evans,Robert Downey Jr.,Scarlett Johansson,663649,"408,084,349"
Moana,https://m.media-amazon.com/images/M/MV5BMjI4Mz...,2016,U,107 min,"Animation, Adventure, Comedy",7.6,"In Ancient Polynesia, when a terrible curse in...",81.0,Ron Clements,John Musker,Don Hall,Chris Williams,Auli'i Cravalho,272784,"248,757,044"
Hell or High Water,https://m.media-amazon.com/images/M/MV5BMTg4ND...,2016,R,102 min,"Action, Crime, Drama",7.6,A divorced father and his ex-con older brother...,88.0,David Mackenzie,Chris Pine,Ben Foster,Jeff Bridges,Gil Birmingham,204175,"26,862,450"

Question 4 (10)

How many movies have a IMDB_Rating higher than 8.5 (8.5 is included)?

In [ ]:
imdb_df_indexed[imdb_df_indexed["IMDB_Rating"] >= 8.5]

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
The Lord of the Rings: The Return of the King,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
Pulp Fiction,https://m.media-amazon.com/images/M/MV5BNGNhMD...,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
Schindler's List,https://m.media-amazon.com/images/M/MV5BNDE4OT...,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
Inception,https://m.media-amazon.com/images/M/MV5BMjAxMz...,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
Fight Club,https://m.media-amazon.com/images/M/MV5BMmEzNT...,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"
The Lord of the Rings: The Fellowship of the Ring,https://m.media-amazon.com/images/M/MV5BN2EyZj...,2001,U,178 min,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1661481,"315,544,750"
Forrest Gump,https://m.media-amazon.com/images/M/MV5BNWIwOD...,1994,UA,142 min,"Drama, Romance",8.8,"The presidencies of Kennedy and Johnson, the e...",82.0,Robert Zemeckis,Tom Hanks,Robin Wright,Gary Sinise,Sally Field,1809221,"330,252,182"
"Il buono, il brutto, il cattivo",https://m.media-amazon.com/images/M/MV5BOTQ5ND...,1966,A,161 min,Western,8.8,A bounty hunting scam joins two men in an unea...,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo Giuffr,688390,"6,100,000"
The Lord of the Rings: The Two Towers,https://m.media-amazon.com/images/M/MV5BZGMxZT...,2002,UA,179 min,"Action, Adventure, Drama",8.7,While Frodo and Sam edge closer to Mordor with...,87.0,Peter Jackson,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,1485555,"342,551,365"
The Matrix,https://m.media-amazon.com/images/M/MV5BNzQzOT...,1999,A,136 min,"Action, Sci-Fi",8.7,When a beautiful stranger leads computer hacke...,73.0,Lana Wachowski,Lilly Wachowski,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,1676426,"171,479,930"
Goodfellas,https://m.media-amazon.com/images/M/MV5BY2NkZj...,1990,A,146 min,"Biography, Crime, Drama",8.7,The story of Henry Hill and his life in the mo...,90.0,Martin Scorsese,Robert De Niro,Ray Liotta,Joe Pesci,Lorraine Bracco,1020727,"46,836,394"
Star Wars: Episode V - The Empire Strikes Back,https://m.media-amazon.com/images/M/MV5BYmU1ND...,1980,UA,124 min,"Action, Adventure, Fantasy",8.7,After the Rebels are brutally overpowered by t...,82.0,Irvin Kershner,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1159315,"290,475,067"
One Flew Over the Cuckoo's Nest,https://m.media-amazon.com/images/M/MV5BZjA0OW...,1975,A,133 min,Drama,8.7,A criminal pleads insanity and is admitted to ...,83.0,Milos Forman,Jack Nicholson,Louise Fletcher,Michael Berryman,Peter Brocco,918088,"112,000,000"
Hamilton,https://m.media-amazon.com/images/M/MV5BNjViNW...,2020,PG-13,160 min,"Biography, Drama, History",8.6,The real life of one of America's foremost fou...,90.0,Thomas Kail,Lin-Manuel Miranda,Phillipa Soo,Leslie Odom Jr.,Rene Elise Goldsberry,55291,NaN
Gisaengchung,https://m.media-amazon.com/images/M/MV5BYWZjMj...,2019,A,132 min,"Comedy, Drama, Thriller",8.6,Greed and class discrimination threaten the ne...,96.0,Bong Joon Ho,Kang-ho Song,Lee Sun-kyun,Cho Yeo-jeong,Choi Woo-sik,552778,"53,367,844"
Soorarai Pottru,https://m.media-amazon.com/images/M/MV5BOTc2ZT...,2020,U,153 min,Drama,8.6,"Nedumaaran Rajangam ""Maara"" sets out to make t...",NaN,Sudha Kongara,Suriya,Madhavan,Paresh Rawal,Aparna Balamurali,54995,NaN
Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,2014,UA,169 min,"Adventure, Drama, Sci-Fi",8.6,A team of explorers travel through a wormhole ...,74.0,Christopher Nolan,Matthew McConaughey,Anne Hathaway,Jessica Chastain,Mackenzie Foy,1512360,"188,020,017"
Cidade de Deus,https://m.media-amazon.com/images/M/MV5BOTMwYj...,2002,A,130 min,"Crime, Drama",8.6,"In the slums of Rio, two kids' paths diverge a...",79.0,Fernando Meirelles,Ktia Lund,Alexandre Rodrigues,Leandro Firmino,Matheus Nachtergaele,699256,"7,563,397"
Sen to Chihiro no kamikakushi,https://m.media-amazon.com/images/M/MV5BMjlmZm...,2001,U,125 min,"Animation, Adventure, Family",8.6,"During her family's move to the suburbs, a sul...",96.0,Hayao Miyazaki,Daveigh Chase,Suzanne Pleshette,Miyu Irino,Rumi Hiiragi,651376,"10,055,859"
Saving Private Ryan,https://m.media-amazon.com/images/M/MV5BZjhkMD...,1998,R,169 min,"Drama, War",8.6,"Following the Normandy Landings, a group of U....",91.0,Steven Spielberg,Tom Hanks,Matt Damon,Tom Sizemore,Edward Burns,1235804,"216,540,909"
The Green Mile,https://m.media-amazon.com/images/M/MV5BMTUxMz...,1999,A,189 min,"Crime, Drama, Fantasy",8.6,The lives of guards on Death Row are affected ...,61.0,Frank Darabont,Tom Hanks,Michael Clarke Duncan,David Morse,Bonnie Hunt,1147794,"136,801,374"
La vita bella,https://m.media-amazon.com/images/M/MV5BYmJmM2...,1997,U,116 min,"Comedy, Drama, Romance",8.6,When an open-minded Jewish librarian and his s...,59.0,Roberto Benigni,Roberto Benigni,Nicoletta Braschi,Giorgio Cantarini,Giustino Durano,623629,"57,598,247"
Se7en,https://m.media-amazon.com/images/M/MV5BOTUwOD...,1995,A,127 min,"Crime, Drama, Mystery",8.6,"Two detectives, a rookie and a veteran, hunt a...",65.0,David Fincher,Morgan Freeman,Brad Pitt,Kevin Spacey,Andrew Kevin Walker,1445096,"100,125,643"
The Silence of the Lambs,https://m.media-amazon.com/images/M/MV5BNjNhZT...,1991,A,118 min,"Crime, Drama, Thriller",8.6,A young F.B.I. cadet must receive the help of ...,85.0,Jonathan Demme,Jodie Foster,Anthony Hopkins,Lawrence A. Bonney,Kasi Lemmons,1270197,"130,742,922"
Star Wars,https://m.media-amazon.com/images/M/MV5BNzVlY2...,1977,UA,121 min,"Action, Adventure, Fantasy",8.6,Luke Skywalker joins forces with a Jedi Knight...,90.0,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,1231473,"322,740,140"
Seppuku,https://m.media-amazon.com/images/M/MV5BYjBmYT...,1962,NaN,133 min,"Action, Drama, Mystery",8.6,When a ronin requesting seppuku at a feudal lo...,85.0,Masaki Kobayashi,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,Tetsur Tanba,42004,NaN
Shichinin no samurai,https://m.media-amazon.com/images/M/MV5BOWE4ZD...,1954,U,207 min,"Action, Adventure, Drama",8.6,A poor village under attack by bandits recruit...,98.0,Akira Kurosawa,Toshir Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,315744,"269,061"
It's a Wonderful Life,https://m.media-amazon.com/images/M/MV5BZjc4ND...,1946,PG,130 min,"Drama, Family, Fantasy",8.6,An angel is sent from Heaven to help a despera...,89.0,Frank Capra,James Stewart,Donna Reed,Lionel Barrymore,Thomas Mitchell,405801,NaN
Joker,https://m.media-amazon.com/images/M/MV5BNGVjNW...,2019,A,122 min,"Crime, Drama, Thriller",8.5,"In Gotham City, mentally troubled comedian Art...",59.0,Todd Phillips,Joaquin Phoenix,Robert De Niro,Zazie Beetz,Frances Conroy,939252,"335,451,311"
Whiplash,https://m.media-amazon.com/images/M/MV5BOTA5ND...,2014,A,106 min,"Drama, Music",8.5,A promising young drummer enrolls at a cut-thr...,88.0,Damien Chazelle,Miles Teller,J.K. Simmons,Melissa Benoist,Paul Reiser,717585,"13,092,000"
The Intouchables,https://m.media-amazon.com/images/M/MV5BMTYxND...,2011,UA,112 min,"Biography, Comedy, Drama",8.5,After he becomes a quadriplegic from a paragli...,57.0,Olivier Nakache,ric Toledano,Franois Cluzet,Omar Sy,Anne Le Ny,760360,"13,182,281"
The Prestige,https://m.media-amazon.com/images/M/MV5BMjA4ND...,2006,U,130 min,"Drama, Mystery, Sci-Fi",8.5,"After a tragic accident, two stage magicians e...",66.0,Christopher Nolan,Christian Bale,Hugh Jackman,Scarlett Johansson,Michael Caine,1190259,"53,089,891"
The Departed,https://m.media-amazon.com/images/M/MV5BMTI1MT...,2006,A,151 min,"Crime, Drama, Thriller",8.5,An undercover cop and a mole in the police att...,85.0,Martin Scorsese,Leonardo DiCaprio,Matt Damon,Jack Nicholson,Mark Wahlberg,1189773,"132,384,315"
The Pianist,https://m.media-amazon.com/images/M/MV5BOWRiZD...,2002,R,150 min,"Biography, Drama, Music",8.5,A Polish Jewish musician struggles to survive ...,85.0,Roman Polanski,Adrien Brody,Thomas Kretschmann,Frank Finlay,Emilia Fox,729603,"32,572,577"
Gladiator,https://m.media-amazon.com/images/M/MV5BMDliMm...,2000,UA,155 min,"Action, Adventure, Drama",8.5,A former Roman General sets out to exact venge...,67.0,Ridley Scott,Russell Crowe,Joaquin Phoenix,Connie Nielsen,Oliver Reed,1341460,"187,705,427"
American History X,https://m.media-amazon.com/images/M/MV5BZjA0MT...,1998,R,119 min,Drama,8.5,A former neo-nazi skinhead tries to prevent hi...,62.0,Tony Kaye,Edward Norton,Edward Furlong,Beverly D'Angelo,Jennifer Lien,1034705,"6,719,864"
The Usual Suspects,https://m.media-amazon.com/images/M/MV5BYTViNj...,1995,A,106 min,"Crime, Mystery, Thriller",8.5,A sole survivor tells of the twisty events lea...,77.0,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin,991208,"23,341,568"
Lon,https://m.media-amazon.com/images/M/MV5BODllNW...,1994,A,110 min,"Action, Crime, Drama",8.5,"Mathilda, a 12-year-old girl, is reluctantly t...",64.0,Luc Besson,Jean Reno,Gary Oldman,Natalie Portman,Danny Aiello,1035236,"19,501,238"
The Lion King,https://m.media-amazon.com/images/M/MV5BYTYxNG...,1994,U,88 min,"Animation, Adventure, Drama",8.5,Lion prince Simba and his father are targeted ...,88.0,Roger Allers,Rob Minkoff,Matthew Broderick,Jeremy Irons,James Earl Jones,942045,"422,783,777"
Terminator 2: Judgment Day,https://m.media-amazon.com/images/M/MV5BMGU2Nz...,1991,U,137 min,"Action, Sci-Fi",8.5,"A cyborg, identical to the one who failed to k...",75.0,James Cameron,Arnold Schwarzenegger,Linda Hamilton,Edward Furlong,Robert Patrick,995506,"204,843,350"
Nuovo Cinema Paradiso,https://m.media-amazon.com/images/M/MV5BM2FhYj...,1988,U,155 min,"Drama, Romance",8.5,A filmmaker recalls his childhood when falling...,80.0,Giuseppe Tornatore,Philippe Noiret,Enzo Cannavale,Antonella Attili,Isa Danieli,230763,"11,990,401"
Hotaru no haka,https://m.media-amazon.com/images/M/MV5BZmY2Nj...,1988,U,89 min,"Animation, Drama, War",8.5,A young boy and his little sister struggle to ...,94.0,Isao Takahata,Tsutomu Tatsumi,Ayano Shiraishi,Akemi Yamaguchi,Yoshiko Shinohara,235231,NaN
Back to the Future,https://m.media-amazon.com/images/M/MV5BZmU0M2...,1985,U,116 min,"Adventure, Comedy, Sci-Fi",8.5,"Marty McFly, a 17-year-old high school student...",87.0,Robert Zemeckis,Michael J. Fox,Christopher Lloyd,Lea Thompson,Crispin Glover,1058081,"210,609,762"
Once Upon a Time in the West,https://m.media-amazon.com/images/M/MV5BZGI5Mj...,1968,U,165 min,Western,8.5,A mysterious stranger with a harmonica joins f...,80.0,Sergio Leone,Henry Fonda,Charles Bronson,Claudia Cardinale,Jason Robards,302844,"5,321,508"
Psycho,https://m.media-amazon.com/images/M/MV5BNTQwND...,1960,A,109 min,"Horror, Mystery, Thriller",8.5,"A Phoenix secretary embezzles $40,000 from her...",97.0,Alfred Hitchcock,Anthony Perkins,Janet Leigh,Vera Miles,John Gavin,604211,"32,000,000"
Casablanca,https://m.media-amazon.com/images/M/MV5BY2IzZG...,1942,U,102 min,"Drama, Romance, War",8.5,A cynical expatriate American cafe owner strug...,100.0,Michael Curtiz,Humphrey Bogart,Ingrid Bergman,Paul Henreid,Claude Rains,522093,"1,024,560"
Modern Times,https://m.media-amazon.com/images/M/MV5BYjJiZj...,1936,G,87 min,"Comedy, Drama, Family",8.5,The Tramp struggles to live in modern industri...,96.0,Charles Chaplin,Charles Chaplin,Paulette Goddard,Henry Bergman,Tiny Sandford,217881,"163,245"
City Lights,https://m.media-amazon.com/images/M/MV5BY2I4Mm...,1931,G,87 min,"Comedy, Drama, Romance",8.5,"With the aid of a wealthy erratic tippler, a d...",99.0,Charles Chaplin,Charles Chaplin,Virginia Cherrill,Florence Lee,Harry Myers,167839,"19,181"

*score: 10/10* 

Excellent!